.logoWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconContainer {
  width: 60px;
  height: 60px;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

.sunIcon {
  font-size: 3.5rem;
  color: var(--yellow-color);
  animation: spin 16s linear infinite;
}

.cloudIcon {
  position: absolute;
  bottom: 5px;
  right: 5px;

  font-size: 2.5rem;
  color: var(--primary-color);

  filter: drop-shadow(2px 2px 4px var(--shadow-dark));

  animation: float 5s ease-in-out infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes float {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(4px);
  }
}
