/* === Normalize Styles === */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

/* === Common Styles === */

:root {
  --font-color: #e0e5ec;
  --bg-color: #292d32;
  --button-bg-color: #292d32;
  --shadow-light: #353b42;
  --shadow-dark: #1d2024;
  --yellow-color: #ffb703;
  --primary-color: #3b9eff;
}

body {
  min-width: 320px;

  font-family: "Roboto", Inter, system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: var(--font-color);
  background-color: var(--bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (max-height: 900px) {
  body {
    line-height: 1.3;
  }
}

#root {
  min-height: 100dvh;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 30px;
}

@media screen and (max-height: 910px) {
  #root {
    padding: 15px;
  }
}

/* === Toastify Styles === */

.Toastify__toast {
  background-color: var(--bg-color) !important;
  color: var(--font-color) !important;
  border-radius: 15px !important;
  box-shadow: 5px 5px 10px var(--shadow-dark),
    -5px -5px 10px var(--shadow-light) !important;
  font-family: inherit !important;
}

.Toastify__toast-theme--colored.Toastify__toast--error {
  color: #ff4b4b !important;
  border: 1px solid #ff4b4b;
}

.Toastify__toast-theme--colored.Toastify__toast--success {
  color: var(--primary-color) !important;
  border: 1px solid var(--primary-color);
}

.Toastify__close-button {
  color: var(--font-color) !important;
  opacity: 0.7;
}

.Toastify__close-button:hover {
  opacity: 1;
}

.Toastify__progress-bar {
  background: var(--primary-color) !important;
}

.Toastify__progress-bar--error {
  background: #ff4b4b !important;
}
